extends ./blog-layout.jade

block blog-body
  div.container
    div.row
      div.col-md-2
      div.col-md-8
        h2.text-center.pager-header A Review of "The Design Philosophy of the DARPA Internet Protocols" by D. Clark
      div.col-md-2
    <br/>
    div.row
      div.col-md-2
      div.col-md-8
        p.text-justify.
          One of the main contributions of Clark's paper would be the "meta" review of the evolution of the TCP/IP stack as what it came to be during his time. One might argue that creating a paper with the sole purpose of reviewing the stack does not carry the same weight as that of the contribution of Cerf and Kahn's paper which was technically the parent of the TCP/IP stack or maybe it does not bare any weight at all but I beg to differ. The paper, in a nutshell, explains the early motivations, the ideas, the problems and solutions that carefully and methodically molded the stack as it is today. Not only is the complete specification the important part but the reasonings, the ideas behind the specification as well which are sadly, left out most of the time. They give us a brief peek into the thinking process of the proponents of the protocol and can serve, more importantly, as lessons that one should consider when determining the future path of the stack lest we fall into the same pitfalls.
        <br/>
        p.text-justify.
          Notice I used the word "evolution" and rightly so. Clark's paper was not a monotonic narration in such a way that everything was already set in stone during the first iteration of the stack but rather it was a paced narration of how the protocol was continuously changing and adapting because the stack is not by all means standalone but was meant to augment the pre-existing networks and should be made self-aware of that particular idea as well.
        <br/>
        p.text-justify.
          The main goal of the architecture, in Clark's word was "... to develop an effective technique for multiplexed utilization of existing interconnected networks". To detach this review from the unneccessary jargons that come with the field, let me introduce a metaphor which would be used extensively in this discussion which I believe would help capture the essence of Clark's paper. One would imagine this metaphor say there exists cities that have built roads but only amongst themselves. Now, say City A wants to barter with City B but there not exists a road from City A to City B (or to any other city for that matter). The metaphor of the internet would be to connect all these cities (with the after thought of future cities as well) while also enabling pass through traveling, say going from City A to City C requires going to City B. 
        <br/>
        p.text-justify.
          Now, one of the driving question is then revealed here with choosing whether should we create a new type of road which would be built specifically for this herculean task, or should be stick with the currently existing road standards and use that to create our "highway"? In order for the internet to be viable immediately, it should be built upon previously existing network standards so that pre-existing networks can easily connect to it without disrupting any of it's underlying architecture thus the latter choice was picked.
        <br/>
        p.text-justify.
          Other criterias are required so we can properly gauge whether our "highway" (Internet) project would be deemed successful at the end. Before enumerating the criterias, we must affix our mindset that the Internet was designed to work with the military context at the time it was being developed. This thinking had a major influence in which criterias should be prioritized versus say developing the internet with the commercial/consumers in mind.
        <br/>
        p.text-justify.
          Using the military context in mind, one of the conscious criteria would be survivability. In our metaphor this would mean various services (courier, commute etc.) should still work even if one of the constructed highways are not available. They would just choose alternate routes to get to their destination. One immediate consequence of this is that information state say a delivery truck instance is only known within the start city and the destination city. In order words, the state of the delivery truck is self-contained (it knows where to go, it knows where to deliver the goods etc.) and can be processed completely by the destination city. The highways does not know whether the vehicle traveling is a truck, is a personal car etc. It's only purpose is to provide a path for the travelers regardless of their purpose.
        <br/>
        p.text-justify.
          The previous paragraph mentioned "services" which coincidentally is the second criteria of the internet. The internet should be able to support multiple types of services (each having varying degrees of speed, latency and reliability). Such services in our metaphor would be courier, taxi and so forth, each requiring combinations of highway speed, highway delays and highway reliability. This eventually led to the split of the stack into two, the TCP/IP with each adding a layer of service specific to the requirements of the application.
        <br/>
        p.text-justify.
          The third criteria and perhaps the most successfully achieved was the interconnection of a variety of networks. This was primarily achieved by incorporating as few assumptions to the internet with regards to the networks it would connect as possible which in turn gave it its flexibility. Had the internet required a wee bit more, other networks not having those requirements would need to upgrade their architecture in-order to interconnect with the internet which would defeat its initial purpose.
        <br/>
        p.text-justify.
          As the context was in the military during the development, much is left to be desired with regards to the other criteria. I have enumerated the remaining criterias along with the comments left by Clark.
        ol
          li Distributed Management - This is achieved with the obvious fact that no-one technically "owns" the internet. Gateway management do not belong to one agency which contributes highly to its openness. 
          li Cost effectiveness - Going back to the first question we had to answer, the internet was forced to adopt the previously existing network standards which means it has to create "workarounds" for it to work which amounted to a not-so-effective protocol with a typical header having 40 bytes. Other points would be since the state of the communication is housed within the "cities", if a packet is dropped within the network, it had to be retransmitted from the start host which could mean traversing the other side of the world instead of recovering within the nearest networking equipment.
        <br/>
        p.text-justify.
          It is worth visiting the notion that one of the fundamental "block" present in the internet is the idea of a "datagram" which was barely mentioned in the papers introducing the internet stack. A "datagram" in our metaphor would simply be a vehicle traveling along the highway. The importance of the datagram was that it was the minimum network service assumption, meaning when we were building the highway, our barest assumption is that a vehicle would be traveling along these parts. Now, the type of vehicle (truck, van, pickup etc) would then depend on the type of service available which the highway would not give notice to which made it more effective.
        <br/>
        p.text-justify.
          While the internet today is as successful as it can be, it leaves much to be desired especially the less prioritized criterias because we've seen how the internet has made the switch from a military context to a more commercial/consumer oriented context. This would suggest there exist a next evolution with what we have right now. This paper should then serve as a reminder of the design decisions made during the birth of the internet and use that to steer the next-generation internet so that it maybe smarter, more efficient and calibrated to the needs of human society.
        <br/>
