extends ./blog-layout.jade

block blog-body
  div.container
    div.row
      div.col-md-2
      div.col-md-8
        h2.text-center.pager-header A Review of "Rethinking the design of the Internet: The end to end arguments vs. the brave new world" by D. Clark and M. Blumenthal
      div.col-md-2
    <br/>
    div.row
      div.col-md-2
      div.col-md-8
        p.text-justify.
          I think the title properly summarizes the entire aim of Clark and Blumenthal's paper. Essentially, there are numerous new requirements that have sprung up due to the slow shift of the internet from being military conscious to being dominated by commercial/consumer thinking. Now, these requirements seems to introduce a paradigm shift of the internet into an entirely different direction. This endangers multiple principles that we have come to embrace such as openness and flexibility. Such is the call of the paper to consciously and actively take part in the thinking process of how one might solve these new requirements lest it be done for you whether you like the end solution or not.
        <br/>
        p.text-justify.
          The paper enumerates some of these new requirements and suggestions on how to solve them, both in a technical and non-technical manner. One might be surprised why the solution part was suddenly divided into two when it is obvious that these types of problems can only be solved technically. One of the main differences between the internet when it was first deployed versus the internet now is the explosion of the user base. Along for the ride are the involvement of third-party users such as Internet Service Providers (ISP) and various governments which would equate to the increase of internet stakeholders as well. Technologists are not alone anymore with regards to the formulation, development and implementation of new standards relating to the internet but also matters of legality and other related concepts have to be considered as well.
        <br/>
        p.text-justify.
          Before we delve into the discussion about the apparent paradigm shift of principles with regards to the internet, it would be useful to provide some base information as what principle is being applied and where the shift would go. The most influential principle with regards to the internet today would be the end-to-end argument. Basically, any cool functions you can think of should be implemented at the application level (end host) while the network's job is to simply just transport the datagrams completely oblivious to the type of service they may accomplish. The network core are at most, very generic data transfer machines. The shift implies that some of the application related functions (or new mechanism if called for) must be implemented to the network core instead. One upshot of this would be less complexity on the end users especially for the less tech-savvy ones but one serious con would be that end users have no control over or worse have no knowledge of the added mechanism which can easily be exploited for the benefit of a specific third-party.
        <br/>
        p.text-justify.
          For brevity sake, I shall mention just a few of the requirements discussed in the paper but enough to drive the point home. One interesting requirement was the clamor for security and anonymity in the internet. This was perhaps one of the requirements the initial papers did not address (and will not) due to the fact that their initial assumption was that the networks are all in full cooperation with regards to communicating with each other. As the amount of user base increase, the amount of people with various malicious motives has also increased as well and has of course, ruined the fun for everybody thus the call for security. Another would be the introduction of new applications with higher demands from the internet with examples such as streaming services, audio and video calling and so forth. These applications needs a bit more juice with regards to consistent delivery and speed which the internet was not initially built for. The internet was conceive as a "best effort" service thus forcing the application developers to opt for other means to increase the viability of their products.
        <br/>
        p.text-justify The paper suggests multiple technical solutions both reinforcing the end-to-end argument and also the functions-at-the-network-core argument but perhaps the most interesting was the interplay of the non-technical stockholders to the solution space. Perhaps the most colorful display of this power was the introduction of the "Net Neutrality" rules enacted by the Federal Communications Commission in the United States of America. Multiple ISPs started to flex their muscle over their apparent control of data passing through their network wherein they can throttle the traffic at will. 
          a(href="https://consumerist.com/2014/02/23/netflix-agrees-to-pay-comcast-to-end-slowdown/") This was much visible when they throttled the traffic to Netflix, one of the well-known video streaming company, when they failed to "pay" Comcast.
        <br/>
        p.text-justify.
          Concluding the review, the paper cannot stress enough how the end-to-end argument has allowed the internet to gain its inherent flexibility and openness. But seeing how the multitude of requirements seem to tug the internet principle away from the argument, the paper also calls for the preservation of the roots of the internet lest we forget where we came from. They are particularly wary of technologies that seem to embed application specific servers inside the network to boost the performance instead of applying these solutions for long term via augmenting the end-to-end.
        <br/>
        p.text-justify.
          The future is not bleak but rather full of interesting opportunities with regards to the advancement of the internet. It is with papers such as this that we should not merely consider the ideas of our predecessors out of fancy but rather to server as bullet points, as the foundation with wherever we plan to take the next evolutionary step of the internet we see today.
        <br/>
