extends layout

block content
  div.masthead.clearfix
    div.inner
      h3.masthead-brand LA Roberto
      nav
        ul.nav.masthead-nav
          li.active
            a(href="#") Home

  div.inner.cover
    h1.cover-heading Website is still under construction! <br/>
    p.lead
      | But as always, here's a random corgi to make up for it :D
    p.lead
      img(
        style="margin: 0px auto; display:block; height:350px; width:400px; max-width:100%; max-height:100%;", 
        src=corgeh
      )
